<!-- Button trigger modal -->
 <div class="text-center">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter un utilisateur</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout d'utilisateur</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-registration></app-registration>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let us of users; let i = index">
      <td>
        {{i+1}}
      </td>
      <td>
        {{us.name}}
      </td>
      <td>
        {{us.email}}
      </td>
      <td>
        {{us.role}}
      </td>
      <td>
        <button (click)="delete(i)" class="btn btn-danger">supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
